{% extends '/gimsins/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
  <div>
    <h2>Create GimSin</h2>
    <form class="ui form" method="POST">
      {{ form.hidden_tag() }}
      <div class="three fields">
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.name_zh) }}
      {{ renderer.render_field(form.name_en) }}
      </div>

      <div class="two fields">
      {{ renderer.render_select(form.gong) }}
      {{ renderer.render_select(form.shrine) }}
      </div>

      {{ renderer.render_field(form.biography) }}
      {{ renderer.render_field(form.coordinates) }}
      <button type="submit" class="ui primary button">Submit</button>
    </form>
  </div>
{% endblock %}
