{% if current_user.is_authenticated %}
  {% extends '/base/default-dashboard.html' %}
{% else %}
  {% extends '/base/default-page.html' %}
{% endif %}

{% import '/base/name-utils.html' as name_utils %}

{% block dashboard_title %}GimSin{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'gimsins.index' %}
    <div class="active section">GimSin</div>
  {% else %}
    <a class="section" href="{{ url_for('gimsins.index') }}">GimSin</a>
    <div class="divider"> / </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
  <div class="ui segment">
    <a class="ui icon primary button" href="{{ url_for('gimsins.create_or_edit') }}"><i class="ui add icon"></i> Create</a>
  </div>
  {% endif %}

  <div class="ui segment">
    <div class="ui cards">
      {% for gimsin in gimsins %}
        <div class="card">
          <div class="image">
            {% if gimsin.has_cover_image() %}
              {% set picture = gimsin.get_cover_image() %}
              <img src="{{ url_for("pictures.download", picture_id=picture.id, filename=picture.file.filename) | add_date_url }}">
            {% else %}
              <div class="ui placeholder">
                <div class="rectangular image"></div>
              </div>
            {% endif %}
          </div>

          <div class="content">
            <div class="header">
              {{ name_utils.get_object_name(gimsin) }}
            </div>
            <div class="meta">
              {% for tag in gimsin.tags %}
                <a href="{{ url_for('tags.view', tag=tag) }}">{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="description">
              {{ gimsin.biography }}
            </div>
          </div>
          {% if current_user.is_authenticated %}
          <div class="extra content">
            <a href="{{ url_for('gimsins.view', gimsin_id=gimsin.id) }}" class="ui primary icon button">
              <i class="eye icon"></i>
            </a>
            <a href="{{ url_for('gimsins.create_or_edit', gimsin_id=gimsin.id) }}" class="ui primary icon button">
              <i class="edit icon"></i>
            </a>
            <a href="{{ url_for('pictures.manage', type_="gimsin", type_id=gimsin.id) }}" class="ui primary icon button">
              <i class="image icon"></i>
            </a>
          </div>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
