{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
  <div>
    <h2>Create Gong</h2>
    <form class="ui form" method="POST">
      {{ form.hidden_tag() }}
      <div class="three fields">
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.name_zh) }}
      {{ renderer.render_field(form.name_en) }}
      </div>

      <div class="three fields">
      {{ renderer.render_field(form.alternative_names) }}
      {{ renderer.render_field(form.alternative_names_zh) }}
      {{ renderer.render_field(form.alternative_names_en) }}
      </div>

      <div class="three fields">
      {{ renderer.render_field(form.clan) }}
      {{ renderer.render_field(form.clan_zh) }}
      {{ renderer.render_field(form.clan_en) }}
      </div>

      <div class="three fields">
      {{ renderer.render_field(form.place_of_birth) }}
      {{ renderer.render_field(form.place_of_birth_zh) }}
      {{ renderer.render_field(form.place_of_birth_en) }}
      </div>

      {{ renderer.render_field(form.avatar) }}
      {{ renderer.render_field(form.blessings) }}
      {{ renderer.render_field(form.biography) }}
      {{ renderer.render_field(form.tags) }}
      {{ renderer.render_field(form.links) }}
      <button type="submit" class="ui primary button">Submit</button>
    </form>
  </div>
{% endblock %}
