{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}Gong{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'gongs.index' %}
    <div class="active section">Gong</div>
  {% else %}
    <a class="section" href="{{ url_for('gongs.index') }}">Gong</a>
    <div class="divider"> / </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="ui segment">
    <a class="ui icon primary button" href="{{ url_for('gongs.create_or_edit') }}"><i class="ui add icon"></i> Create</a>
  </div>
  <div class="padding-top: 1">
    <div class="ui cards">
      {% for gong in gongs %}
        <div class="card">
          <div class="image">
            {% if gong.has_cover_image() %}
              {% set picture = gong.get_cover_image() %}
              <img src="{{ url_for("pictures.download", picture_id=picture.id, filename=picture.file.filename) }}">
            {% else %}
              <div class="ui placeholder">
                <div class="rectangular image"></div>
              </div>
            {% endif %}
          </div>

          <div class="content">
            <div class="header">
              {{ gong.name }}
            </div>
            <div class="meta">
              {% for tag in gong.tags %}
                <a href="{{ url_for('tags.view', tag=tag) }}">{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="description">
              {{ gong.biography }}
            </div>
          </div>
          <div class="extra content">
            <a href="{{ url_for('gongs.view', gong_id=gong.id) }}" class="ui primary icon button">
              <i class="eye icon"></i>
            </a>
            <a href="{{ url_for('gongs.create_or_edit', gong_id=gong.id) }}" class="ui primary icon button">
              <i class="edit icon"></i>
            </a>
            <a href="{{ url_for('pictures.manage', type_="gong", type_id=gong.id) }}" class="ui primary icon button">
              <i class="image icon"></i>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
