{% extends '/gongs/index.html' %}

{% import '/base/galleries.html' as galleries %}
{% import '/base/name-utils.html' as name_utils %}

{% block dashboard_title %}Gong{% endblock %}
{% block title %}{{ name_utils.get_object_name(gong) }}{% endblock %}

{% block breadcrumbs %}
  {% if request.endpoint == 'gongs.index' %}
    <div class="active section">Gong</div>
  {% else %}
    <a class="section" href="{{ url_for('gongs.index') }}">Gong</a>
    <div class="divider"> / </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <div class="ui segment">
      <a class="ui icon primary button" href="{{ url_for('gongs.index') }}"><i class="ui yin yang icon"></i> Gong</a>
      <a class="ui icon primary button" href="{{ url_for('gongs.create_or_edit', gong_id=gong.id) }}"><i class="edit icon"></i> Edit</a>
      <a class="ui icon primary button" href="{{ url_for('pictures.manage', type_='gong', type_id=gong.id) }}"><i class="image icon"></i> Picture</a>
    </div>
  {% endif %}

  <div class="ui segment huge">
    <h1 class="ui center aligned header red">{{ name_utils.get_object_name(gong) }}</h1>

    <div class="ui divider"></div>
    <div class="ui basic horizontal massive segments">
      {% if gong.has_cover_image() %}
        <div class="ui center aligned pedded segment">
          {% set picture = gong.get_cover_image() %}
          <img class="ui medium centered image" src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
        </div>
      {% endif %}

      <div class="ui center aligned segment">
        <div class="ui icon header">
          <i class="users icon red"></i>
          {% for clan in [gong.clan, gong.clan_zh, gong.clan_en] %}
            {% if clan %}
              <a href="{{ url_for('gongs.show_by_clan', clan=clan) }}" class="ui label red circular massive">{{ clan }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if gong.avatar %}
        <div class="ui center aligned segment">
          <div class="ui icon header">
            <i class="yin yang icon red"></i>
            <a href="{{ url_for('gongs.view', gong_id=gong.id) }}" class="ui label red circular massive">{{ gong.avatar.name }}</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="ui divider"></div>


    <div class="ui message">
      <div>
        <i class="th flag"></i> {{ gong.alternative_names | join(', ') }} <br>
        <i class="cn flag"></i> {{ gong.alternative_names_zh | join(', ') }} <br>
        <i class="uk flag"></i> {{ gong.alternative_names_en | join(', ') }} <br>
      </div>
      {% if gong.religions %}
        <div>
          <i class="ui pray icon large"></i>
          {% for religion in gong.religions %}
            <a href="{{ url_for('gongs.show_by_religion', religion=religion) }}" class="ui label blue large">{{ religion }}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if gong.blessings %}
        <div>
          <i class="ui praying hands icon large"></i>
          {% for blessing in gong.blessings %}
            <a href="{{ url_for('gongs.show_by_blessing', blessing=blessing) }}" class="ui label yellow large">{{ blessing }}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if gong.tags %}
        <div>
          <i class="ui tag icon large"></i>
          {% for tag in gong.tags %}
            <a href="{{ url_for('tags.view', tag=tag) }}" class="ui label teal large">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}


      {% if gong.biography %}
        <div class="ui divider"></div>
        <div style="pedding-top:1rem;">
          {{ gong.biography | render_markdown | safe }}
        </div>
      {% endif %}
    </div>

    <div>
      {{ galleries.render_cards(gong) }}
    </div>


    <div class="ui message">
      <div class="ui icon header">
        <i class="torii gate icon"></i>
      </div>
      <div class="ui items">
        {% for shrine in gong.get_shrines() %}
          <div class="item">
            <div class="ui small image">
              {% if shrine.has_cover_image() %}
                {% set picture = shrine.get_cover_image() %}
                <img src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
              {% else %}
                <div class="ui rectangle test ad" data-text="Shrine Cover"></div>
              {% endif %}
            </div>
            <a class="content" href="{{ url_for('shrines.view', shrine_id=shrine.id) }}">
              <div class="header">{{ shrine.name }}</div>
              <div class="meta">
                {% if shrine.location %}
                  <i class="map marker alternate icon"></i>
                  <span class="location">{{ shrine.location  }}</span>
                {% endif %}
                {% if shrine.open_time %}
                  <i class="hourglass start icon"></i>
                  <span class="time">{{ shrine.open_time }}</span>
                {% endif %}
                {% if shrine.close_time %}
                  <i class="hourglass end icon"></i>
                  <span class="time">{{ shrine.close_time }}</span>
                {% endif %}
              </div>
              <div class="description">
                <p></p>
              </div>
            </a>
          </div>

        {% endfor %}
      </div>
    </div>


{% endblock %}
