{% extends '/shrines/index.html' %}
{% import '/base/galleries.html' as galleries %}
{% import '/base/name-utils.html' as name_utils %}

{% block title %}{{ name_utils.get_object_name(shrine) }}{% endblock %}
{% block dashboard_title %}Shrine{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if request.endpoint == 'shrines.view' %}
    <div class="active section">Shrine</div>
  {% else %}
    <a class="section" href="{{ url_for('shrines.index') }}">Shrine</a>
    <div class="divider"> / </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
  <div class="ui segment">
    <a class="ui icon primary button" href="{{ url_for('shrines.index') }}"><i class="ui torii gate icon"></i> Shrine</a>
    <a class="ui icon primary button" href="{{ url_for('shrines.create_or_edit', shrine_id=shrine.id) }}"><i class="edit icon"></i> Edit</a>
    <a class="ui icon primary button" href="{{ url_for('pictures.manage', type_='shrine', type_id=shrine.id) }}"><i class="image icon"></i> Picture</a>
  </div>
  {% endif %}

  <div class="ui segment">
    <div class="ui red message">
      <h1 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        <div class="content">
          {{ name_utils.get_object_name(shrine) }}
        </div>
      </h1>
      <div class="ui divider"></div>

      <div class="ui centered cards">
        {% for president in shrine.presidents %}
          {% if president.gimsin %}
            {% set gimsin = president.gimsin %}
            <div class="card">
              <div class="image">
                {% if gimsin.has_cover_image() %}
                  {% set picture = gimsin.get_cover_image() %}
                  <img src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
                {% else %}
                  <div class="ui rectangle test ad" data-text="GimSin Cover"></div>
                {% endif %}
              </div>

              <div class="content">
                <a class="header large" href="{{ url_for('gimsins.view', gimsin_id=gimsin.id) }}">{{ gimsin.name }}</a>
                <div class="ui relaxed divided list">
                  <div class="item">
                    <i class="large yin yang middle aligned icon"></i>
                    <div class="content">
                      <a class="header" href="{{ url_for('gongs.view', gong_id=gimsin.gong.id) }}">{{ gimsin.gong.name }}</a>
                      <div class="description"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div style="padding-top: 1rem;">
      <h2 class="ui dividing header"> กิ้มซิ้น </h2>
      <div class="ui centered cards">
        {% for gimsin in shrine.get_gimsins() %}
          <div class="card">
            <div class="image">
              {% if gimsin.has_cover_image() %}
                {% set picture = gimsin.get_cover_image() %}
                <img src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
              {% else %}

              {% endif %}
            </div>
            <div class="content">
              <a class="header" href="{{ url_for('gongs.view', gong_id=gimsin.gong.id) }}">{{ gimsin.name }}</a>

              <div class="ui relaxed divided list">
                <div class="item">
                  <i class="large yin yang middle aligned icon"></i>
                  <div class="content">
                    <a class="header" href="{{ url_for('gongs.view', gong_id=gimsin.gong.id) }}">{{ gimsin.gong.name }}</a>
                    <div class="description"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="ui message">
      {% if shrine.biography %}
        <h2 class="ui dividing header"><i class="history icon"></i> ประวัติ</h2>
        <div style="padding-top: 1rem;">
          {{ shrine.biography | render_markdown | safe }}
        </div>
      {% endif %}

      {% if shrine.location %}
        <h2 class="ui dividing header" style="padding-top: 2rem;"><i class="map marker alternate icon"></i> ที่ตั้ง</h2>
        <div style="padding-top: 1rem;">
          {{ shrine.location }}
          {% if shrine.coordinates.coordinates %}
            <a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{ shrine.coordinates.coordinates[0] }}+{{ shrine.coordinates.coordinates[1] }}" target="_blank"><i class="map icon"></i></a>
          {% endif %}
        </div>
      {% endif %}

      <h2 class="ui dividing header" style="padding-top: 2rem;"><i class="clock icon"></i> เวลา</h2>
      <div style="padding-top: 1rem;">
        {% if shrine.open_time %}
          <div class="ui label">
            <i class="hourglass start icon"></i>
            {{ shrine.open_time }}
          </div>
        {% endif %}
        {% if shrine.close_time %}
          <div class="ui label">
            <i class="hourglass end icon"></i>
            {{ shrine.close_time }}
          </div>
        {% endif %}

      </div>

    </div>

    <div>
      <div class="ui divider"></div>
      {{ galleries.render_cards(shrine) }}
    </div>
  </div>
{% endblock %}
