{% extends "/base/default-page.html" %}
{% import '/base/name-utils.html' as name_utils %}

{% block content %}

  <div class="ui segment two columns grid">
    <div class="column">
      <div id="mapid" style="z-index:1; min-height:45rem; height:100%; width:100%;"></div>
    </div>
    <div class="column">
      <h1>Gong</h1>
      <div class="ui link cards">
        {% for gong in gongs %}
          <div class="card">
            <a class="image" href="{{ url_for('gongs.view', gong_id=gong.id) }}">
              {% if gong.has_cover_image() %}
                {% set picture = gong.get_cover_image() %}
                <img src="{{ url_for("pictures.download", picture_id=picture.id, filename=picture.file.filename) }}">
              {% else %}
                <div class="ui placeholder">
                  <div class="rectangular image"></div>
                </div>
              {% endif %}
            </a>
            <div class="content">
              <a class="header" href="{{ url_for('gongs.view', gong_id=gong.id) }}">{{ name_utils.get_object_name(gong) }}</a>
              <div class="meta">
                {% for tag in gong.tags %}
                  <a href="{{ url_for('tags.view', tag=tag)  }}">{{ tag }}</a>
                {% endfor %}
              </div>
              <div class="description">
                <div>
                  {% for blessing in gong.blessings %}
                    <a href="{{ url_for('gongs.show_by_blessing', blessing=blessing) }}">{{ blessing }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                
              </span>
              <span>
                <i class="torii gate icon"></i>
                {{ gong.get_shrines() | length }} ศาล
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock content %}

{% block additional_js %}
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
  <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
  <script src="{{ url_for('static', filename='js/leaflet.smoothwheelzoom.js')}}"></script>

  <script src="{{ url_for('static', filename='node_modules/brython/brython.js') | add_date_url}}"></script>
  <script src="{{ url_for('static', filename='node_modules/brython/brython_stdlib.js') | add_date_url}}"></script>


  <script type="text/javascript" src="{{ url_for('static', filename='brython/maps.brython.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='brython/gongs.brython.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='brython/controllers.brython.js') }}"></script>


<script type="text/python">
  from controllers import MainController
  map = MainController(
    "th",
  )
  map.start()
</script>



{% endblock additional_js %}
