{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}


{% block dashboard_title %}
Picture: {{ type_obj.name }}
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
    <a href="{{ url_for('dashboard.index') }}" class="section">Classes</a>
</div>
{% endblock %}

{% block content %}
  <div class="ui segment">
    <div class="ui link cards">
      {% for picture in pictures %}
        <div class="card">
          <div class="image">
            <img src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
          </div>
          <div class="content">
            <div class="header">{{ picture.description if picture.description else picture.file.filename }}</div>
            <div class="meta">
              <a>Upload {{ picture.owner.full_name }}</a>
            </div>
            <div class="description">
              Created Date: {{ picture.created_date }}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <i class="trash icon"></i>
            </span>
            <span>
              {% if picture.is_cover %}
                <i class="check circle green icon"></i>
              {% else %}
                <a href="{{ url_for('pictures.set_cover_image', picture_id=picture.id, type_=type_, type_id=type_obj.id) }}">
                  <i class="check circle icon"></i>
                </a>
              {% endif %}

              <i class="edit icon"></i>
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui segment">
    <form method="POST" class="ui form" enctype="multipart/form-data" action='{{ url_for('pictures.upload', type_=type_, type_id=type_id) }}'>
      {{ form.hidden_tag() }}
       
      {{ renderer.render_select(form.public) }}
      {{ renderer.render_fileinputs(form.uploaded_files) }}
      
      <button type="submit" class="ui button primary">Upload</button>
    </form>

  </div>


  <div class="ui segment">
    {% if type_ == 'gong' %}
      <a href="{{ url_for('gongs.index') }}" class="ui primary button"><i class="ui yin yang icon"></i>Gong</a>
      <a href="{{ url_for('gongs.view', gong_id=type_obj.id) }}" class="ui primary button">{{ type_obj.name }}</a>
    {% elif type_ == 'gimsin' %}
      <a href="{{ url_for('gimsins.index') }}" class="ui primary button"><i class="ui user tag icon"></i>GimSin</a>
      <a href="{{ url_for('gimsins.view', gimsin_id=type_obj.id) }}" class="ui primary button">{{ type_obj.name }}</a>
    {% elif type_ == 'shrine' %}
      <a href="{{ url_for('shrines.index') }}" class="ui primary button"><i class="ui torii gate icon"></i>Shrine</a>
      <a href="{{ url_for('shrines.view', shrine_id=type_obj.id) }}" class="ui primary button">{{ type_obj.name }}</a>
    {% endif %}
  </div>
{% endblock content %}


{% block additional_js %}
  <script type="text/javascript">
  </script>
{% endblock %}

